<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Temp Mail - Disposable Temporary Email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Keep spam out of your mail and stay safe - just use a disposable temporary email address! Protect your personal email address from spam with Temp-mail" />
    <meta name="keywords" content="free, temporary, email, disposable, mail, email address" />

    <meta name="apple-istore-app" content="app-id=1214259095">
    <meta name="google-play-app" content="app-id=com.tempmail">
    <link rel="apple-touch-icon" href="/images/icon-temp-mail-mobile@2.png">
    <link rel="android-touch-icon" href="/images/icon-temp-mail-mobile.png" />
    <link href="/images/favicon.ico" rel="shortcut icon">

    <link rel="Canonical" href="index.html" />
    <link rel="alternate" hreflang="en-GB" href="index.html" />
    <link rel="alternate" hreflang="en" href="https://temp-mail.org/en/" />
    <link rel="alternate" hreflang="es" href="https://temp-mail.org/es/" />
    <link rel="alternate" hreflang="nl" href="https://temp-mail.org/nl/" />
    <link rel="alternate" hreflang="de" href="https://temp-mail.org/de/" />
    <link rel="alternate" hreflang="fr" href="https://temp-mail.org/fr/" />
    <link rel="alternate" hreflang="it" href="https://temp-mail.org/it/" />
    <link rel="alternate" hreflang="pl" href="https://temp-mail.org/pl/" />
    <link rel="alternate" hreflang="pt" href="https://temp-mail.org/pt/" />
    <link rel="alternate" hreflang="ru" href="https://temp-mail.org/ru/" />
    <link rel="alternate" hreflang="sr" href="https://temp-mail.org/sr/" />
    <link rel="alternate" hreflang="tr" href="https://temp-mail.org/tr/" />
    <link rel="alternate" hreflang="uk" href="https://temp-mail.org/uk/" />
    <link rel="alternate" hreflang="ar" href="https://temp-mail.org/ar/" />
    <link rel="alternate" hreflang="zh" href="https://temp-mail.org/zh/" />
    <link rel="alternate" hreflang="cs" href="https://temp-mail.org/cs/" />
    <link rel="alternate" hreflang="da" href="https://temp-mail.org/da/" />
    <link rel="alternate" hreflang="fi" href="https://temp-mail.org/fi/" />
    <link rel="alternate" hreflang="el" href="https://temp-mail.org/el/" />
    <link rel="alternate" hreflang="he" href="https://temp-mail.org/he/" />
    <link rel="alternate" hreflang="hu" href="https://temp-mail.org/hu/" />
    <link rel="alternate" hreflang="id" href="https://temp-mail.org/id/" />
    <link rel="alternate" hreflang="ja" href="https://temp-mail.org/ja/" />
    <link rel="alternate" hreflang="ko" href="https://temp-mail.org/ko/" />
    <link rel="alternate" hreflang="no" href="https://temp-mail.org/no/" />
    <link rel="alternate" hreflang="fa" href="https://temp-mail.org/fa/" />
    <link rel="alternate" hreflang="ro" href="https://temp-mail.org/ro/" />
    <link rel="alternate" hreflang="sv" href="https://temp-mail.org/sv/" />
    <link rel="alternate" hreflang="th" href="https://temp-mail.org/th/" />
    <link rel="alternate" hreflang="vi" href="https://temp-mail.org/vi/" />


    <link rel="stylesheet" href="/css/theme-main.css@v=11.css" />

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/inojafojbhdpnehkhhfjalgjjobnhomj">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script>
        var api_url = 'https://api4.temp-mail.org/request/';
        var url_domain = 'temp-mail.org';
        var url_base = 'temp-mail.org';
        var url_check = '/option/check/';
        var url_delete = '//delete_address/id/';
        var url_refresh = '/option/refresh/';
        var lang_delete = 'Delete this address';
        var lang_deleted = 'Deleted!';
        var lang_change = 'Change e-mail address';
        var lang_refresh = 'Refresh message list';
        var lang_refreshed = 'Refreshed!';
        var lang_copy = 'Copy to clipboard';
        var lang_copied = 'Copied!';
    </script>

    <style>
        img {
            opacity: 1;
            transition: opacity 0.3s;
        }

        img[data-src] {
            opacity: 0;
        }
    </style>
</head>
<body>
<header class="main-header">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col align-v-mid hidden-xs-sm">
                <div class="btn-appstore">
                    <a href="https://itunes.apple.com/app/temp-mail-temporary-email/id1214259095" target="_blank" class="tm-btn btn-outline-dark">
                        <img src="/images/itunes_header.svg" alt="Temporary email app for Iphone and Ipad"> App Store</a>
                    <a href="https://play.google.com/store/apps/details?id=com.tempmail" target="_blank" class="tm-btn btn-outline-dark">
                        <img src="/images/gplay_header.svg" alt="Temporary email app for Android"> Google Play</a>
                </div>
            </div>
            <div class="col align-v-mid align-content-center">
                <figure class="brand-logo">
                    <a href="https://temp-mail.org/en/" class="logo thide no-ajaxy">Temp Mail</a>
                </figure>
            </div>
            <div class="col align-v-mid align-content-right">
                <div class="language-dropdown">
                    <div class="dropup langbox rcol1">
                        <button type="button" class="lang-select dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="img-flag"><use href="/images/flags/combined.svg#en" /></svg>
                            <span class="lang-text">en</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/en/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#en" /></svg>
                                    <span class="lang-text">en</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/es/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#es" /></svg>
                                    <span class="lang-text">es</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/nl/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#nl" /></svg>
                                    <span class="lang-text">nl</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/de/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#de" /></svg>
                                    <span class="lang-text">de</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/fr/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#fr" /></svg>
                                    <span class="lang-text">fr</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/it/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#it" /></svg>
                                    <span class="lang-text">it</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/pl/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#pl" /></svg>
                                    <span class="lang-text">pl</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/pt/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#pt" /></svg>
                                    <span class="lang-text">pt</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/ru/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#ru" /></svg>
                                    <span class="lang-text">ru</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/sr/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#sr" /></svg>
                                    <span class="lang-text">sr</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/tr/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#tr" /></svg>
                                    <span class="lang-text">tr</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/uk/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#uk" /></svg>
                                    <span class="lang-text">uk</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/ar/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#ar" /></svg>
                                    <span class="lang-text">ar</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/zh/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#zh" /></svg>
                                    <span class="lang-text">zh</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/cs/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#cs" /></svg>
                                    <span class="lang-text">cs</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/da/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#da" /></svg>
                                    <span class="lang-text">da</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/fi/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#fi" /></svg>
                                    <span class="lang-text">fi</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/el/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#el" /></svg>
                                    <span class="lang-text">el</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/he/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#he" /></svg>
                                    <span class="lang-text">he</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/hu/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#hu" /></svg>
                                    <span class="lang-text">hu</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/id/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#id" /></svg>
                                    <span class="lang-text">id</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/ja/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#ja" /></svg>
                                    <span class="lang-text">ja</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/ko/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#ko" /></svg>
                                    <span class="lang-text">ko</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/no/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#no" /></svg>
                                    <span class="lang-text">no</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/fa/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#fa" /></svg>
                                    <span class="lang-text">fa</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/ro/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#ro" /></svg>
                                    <span class="lang-text">ro</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/sv/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#sv" /></svg>
                                    <span class="lang-text">sv</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/th/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#th" /></svg>
                                    <span class="lang-text">th</span>
                                </a>
                            </li>
                            <li style="text-align:left;">
                                <a href="https://temp-mail.org/vi/" class="no-ajaxy">
                                    <svg class="img-flag" style="width: 16px; height: 16px; border-radius: 50%;"><use href="/images/flags/combined.svg#vi" /></svg>
                                    <span class="lang-text">vi</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="section-top-qr">
    <div class="container">
        <div class="row ">
            <div class="col hidden-xs-sm-md-lg">
                <div class="ads-box ad-block-336X280 ad-block-left-336X280">

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="temp-emailbox">
                    <h2>Your Temporary Email Address</h2>
                    <form>
                        <div class="input-box-col">
                            <div class="input-warp">
                                <input id="mail" type="text" onclick="select(this);" data-original-title="Your Temporary Email Address" data-placement="bottom" data-value="Loading" class="emailbox-input opentip disabledText" readonly value="asdfafs@adfasr.adsf" />

                                <button type="button" class="btn-rds icon-btn btn-l-gary popover-qr"
                                        data-base-url="https://temp-mail.org/en"
                                        data-utm="&utm_source=qrcode&utm_medium=website&utm_campaign=website">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2219 16.8889H6.2219C5.73098 16.8889 5.33301 16.4909 5.33301 16C5.33301 15.5091 5.73098 15.1111 6.2219 15.1111H14.2219C14.7128 15.1111 15.1108 14.7132 15.1108 14.2222V6.22223C15.1108 5.73131 15.5088 5.33334 15.9997 5.33334C16.4906 5.33334 16.8886 5.73131 16.8886 6.22223V14.2222C16.8886 15.695 15.6947 16.8889 14.2219 16.8889ZM13.333 12.4445V7.11112C13.333 6.12928 12.5371 5.33334 11.5552 5.33334H7.11079C6.12895 5.33334 5.33301 6.12928 5.33301 7.11112V11.5556C5.33301 12.5374 6.12895 13.3333 7.11079 13.3333H8.88856C9.37948 13.3333 9.77745 12.9354 9.77745 12.4445C9.77745 11.9535 9.37948 11.5556 8.88856 11.5556H7.11079V7.11112H11.5552V12.4445C11.5552 12.9354 11.9532 13.3333 12.4441 13.3333C12.935 13.3333 13.333 12.9354 13.333 12.4445ZM26.6663 11.5556V7.11112C26.6663 6.12928 25.8704 5.33334 24.8886 5.33334H20.4441C19.4623 5.33334 18.6663 6.12928 18.6663 7.11112V8.8889C18.6663 9.37982 19.0643 9.77779 19.5552 9.77779C20.0461 9.77779 20.4441 9.37982 20.4441 8.8889V7.11112H24.8886V11.5556H19.5552C19.0643 11.5556 18.6663 11.9535 18.6663 12.4445C18.6663 12.9354 19.0643 13.3333 19.5552 13.3333H24.8886C25.8704 13.3333 26.6663 12.5374 26.6663 11.5556ZM13.333 24.8889V23.1111C13.333 22.6202 12.935 22.2222 12.4441 22.2222C11.9532 22.2222 11.5552 22.6202 11.5552 23.1111V24.8889H7.11079V20.4445H12.4441C12.935 20.4445 13.333 20.0465 13.333 19.5556C13.333 19.0646 12.935 18.6667 12.4441 18.6667H7.11079C6.12895 18.6667 5.33301 19.4626 5.33301 20.4445V24.8889C5.33301 25.8707 6.12895 26.6667 7.11079 26.6667H11.5552C12.5371 26.6667 13.333 25.8707 13.333 24.8889ZM26.6663 24.8889V20.4445C26.6663 19.4626 25.8704 18.6667 24.8886 18.6667H23.1108C22.6199 18.6667 22.2219 19.0646 22.2219 19.5556C22.2219 20.0465 22.6199 20.4445 23.1108 20.4445H24.8886V24.8889H20.4441V19.5556C20.4441 19.0646 20.0461 18.6667 19.5552 18.6667C19.0643 18.6667 18.6663 19.0646 18.6663 19.5556V24.8889C18.6663 25.8707 19.4623 26.6667 20.4441 26.6667H24.8886C25.8704 26.6667 26.6663 25.8707 26.6663 24.8889ZM16.8886 25.7778V19.5556C16.8886 19.0646 16.4906 18.6667 15.9997 18.6667C15.5088 18.6667 15.1108 19.0646 15.1108 19.5556V25.7778C15.1108 26.2687 15.5088 26.6667 15.9997 26.6667C16.4906 26.6667 16.8886 26.2687 16.8886 25.7778ZM26.6663 16C26.6663 15.5091 26.2684 15.1111 25.7775 15.1111H19.5552C19.0643 15.1111 18.6663 15.5091 18.6663 16C18.6663 16.4909 19.0643 16.8889 19.5552 16.8889H25.7775C26.2684 16.8889 26.6663 16.4909 26.6663 16Z" fill="#ffffff"></path>
                                    </svg>
                                    <span>QR code</span>
                                </button>
                                <div class="qrPopoverBl " style="display: none">
                                    <div class="qr-popover-arrow"></div>
                                    <div id="qrImageBl"></div>
                                </div>

                                <button type="button" class="btn-rds icon-btn bg-theme d-none visable-xs-sm click-to-copy copyIconGreenBtn" data-clipboard-action="copy" data-clipboard-target="#mail" >
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7397 9.91727V19.9465C24.7397 21.0543 23.8416 21.9524 22.7338 21.9524C22.1799 21.9524 21.7309 21.5033 21.7309 20.9494V14.27C21.7315 13.9643 21.6085 13.6713 21.3899 13.4576L17.8997 10.0075C17.2774 9.37513 16.4301 9.01459 15.5429 9.00461H11.7017C11.1478 9.00461 10.6987 8.55559 10.6987 8.00169V6.87841C10.6987 6.11327 11.0034 5.37962 11.5454 4.83953C12.0873 4.29943 12.822 3.99735 13.5872 4.00002H18.9127C19.6658 4.00761 20.3859 4.31006 20.9186 4.84247L23.9273 7.85125C24.4625 8.40421 24.7549 9.14788 24.7397 9.91727ZM19.8855 13.929L16.8768 10.9202C16.3453 10.386 15.6244 10.0832 14.8709 10.0777H9.54539C7.95407 10.0833 6.66698 11.3748 6.66699 12.9662V25.1116C6.66699 26.7068 7.96018 28 9.55541 28H17.8697C19.4531 27.9835 20.7281 26.6951 20.728 25.1116V15.9348C20.7358 15.1776 20.4479 14.4472 19.9257 13.8989L19.8855 13.929Z" fill="#ffffff"></path>
                                    </svg>
                                    <span>Copy</span>
                                </button>
                            </div>
                        </div>
                        <div class="input-box-col hidden-xs-sm">
                            <button type="button" class="btn-rds icon-btn bg-theme click-to-copy copyIconGreenBtn" data-clipboard-action="copy" data-clipboard-target="#mail" >
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7397 9.91727V19.9465C24.7397 21.0543 23.8416 21.9524 22.7338 21.9524C22.1799 21.9524 21.7309 21.5033 21.7309 20.9494V14.27C21.7315 13.9643 21.6085 13.6713 21.3899 13.4576L17.8997 10.0075C17.2774 9.37513 16.4301 9.01459 15.5429 9.00461H11.7017C11.1478 9.00461 10.6987 8.55559 10.6987 8.00169V6.87841C10.6987 6.11327 11.0034 5.37962 11.5454 4.83953C12.0873 4.29943 12.822 3.99735 13.5872 4.00002H18.9127C19.6658 4.00761 20.3859 4.31006 20.9186 4.84247L23.9273 7.85125C24.4625 8.40421 24.7549 9.14788 24.7397 9.91727ZM19.8855 13.929L16.8768 10.9202C16.3453 10.386 15.6244 10.0832 14.8709 10.0777H9.54539C7.95407 10.0833 6.66698 11.3748 6.66699 12.9662V25.1116C6.66699 26.7068 7.96018 28 9.55541 28H17.8697C19.4531 27.9835 20.7281 26.6951 20.728 25.1116V15.9348C20.7358 15.1776 20.4479 14.4472 19.9257 13.8989L19.8855 13.929Z" fill="#ffffff"></path>
                                </svg>
                                <span>Copy</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="temp-emailbox-text">
                    <p>Forget about spam, advertising mailings, hacking and attacking robots. Keep your real mailbox clean and secure. Temp Mail provides temporary, secure, anonymous, free, disposable email address.</p>
                </div>
            </div>
            <div class="col align-content-right hidden-xs-sm-md-lg">
                <div class="ads-box ad-block-336X280 ad-block-right-336X280">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-btn-header" style="z-index: 100; position: relative; top: 0px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-auto justify-content-center">
                <button id="click-to-copy" data-clipboard-action="copy" data-clipboard-target="#mail" class="no-ajaxy tm-btn btn-gray click-to-copy"> <span class="icon-control control-copy"></span> Copy</button>
                <a href="javascript:;" id="click-to-refresh" class="no-ajaxy tm-btn btn-gray click-to-refresh"> <span class="icon-control control-refresh"></span> Refresh</a>
                <a href="https://temp-mail.org/en/change" id="click-to-change" class="no-ajaxy tm-btn btn-gray click-to-change"> <span class="icon-control control-edit"></span> Change</a>
                <button id="click-to-delete" class="no-ajaxy tm-btn btn-gray click-to-delete"> <span class="icon-control control-del"></span> Delete</button>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="container">
        <div class="row ">
            <!-- Left banner block -->
            <div class="col d-none d-sm-none hidden-xs-sm-md-lg visable-xl">
                <div class="ads-box ad-block-300X600 ad-block-left-300X600">
                    <!-- Ezoic - New site left content banner - sidebar -->
                    <div id="ezoic-pub-ad-placeholder-136"></div>
                    <!-- End Ezoic - New site left content banner - sidebar -->
                </div>
            </div>
            <!-- End Left banner block -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <div class="beforeContentBannerBl hidden-xs-sm">
                    <div class="ads-box ad-block-728X90 ad-block-728X90-before-mail-block">
                        <!-- Ezoic - Before email block content - mid_content -->
                        <div id="ezoic-pub-ad-placeholder-140"></div>
                        <!-- End Ezoic - Before email block content - mid_content -->
                    </div>
                </div>
                <div class="tm-content">
                    <div class="tm-content">
                        <div class="inboxWarpMain">
                            <div class="inbox-area maillist">
                                <div class="inbox-header hidden-xs-sm">
                                    <div class="col-h">Sender</div>
                                    <div class="col-h">Subject</div>
                                    <div class="col-h small-h">View</div>
                                </div>
                                <div class="bg-header d-none visable-xs-sm">
                                    <span class="spanH1">Inbox</span>
                                </div>

                                <div class="inbox-empty">
                                    <div class="inbox-empty-msg">
                                        <svg width="92" height="94" viewBox="0 0 92 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M26 54.37V38.9C26.003 37.125 26.9469 35.4846 28.48 34.59L43.48 25.84C45.027 24.9468 46.933 24.9468 48.48 25.84L63.48 34.59C65.0285 35.4745 65.9887 37.1167 66 38.9V54.37C66 57.1314 63.7614 59.37 61 59.37H31C28.2386 59.37 26 57.1314 26 54.37Z" fill="#8C92A5"></path>
                                            <path d="M46 47.7L26.68 36.39C26.2325 37.1579 25.9978 38.0312 26 38.92V54.37C26 57.1314 28.2386 59.37 31 59.37H61C63.7614 59.37 66 57.1314 66 54.37V38.9C66.0022 38.0112 65.7675 37.1379 65.32 36.37L46 47.7Z" fill="#CDCDD8"></path>
                                            <path d="M27.8999 58.27C28.7796 58.9758 29.8721 59.3634 30.9999 59.37H60.9999C63.7613 59.37 65.9999 57.1314 65.9999 54.37V38.9C65.9992 38.0287 65.768 37.1731 65.3299 36.42L27.8999 58.27Z" fill="#E5E5F0"></path>
                                            <path class="emptyInboxRotation" d="M77.8202 29.21L89.5402 25.21C89.9645 25.0678 90.4327 25.1942 90.7277 25.5307C91.0227 25.8673 91.0868 26.348 90.8902 26.75L87.0002 34.62C86.8709 34.8874 86.6407 35.0924 86.3602 35.19C86.0798 35.2806 85.7751 35.2591 85.5102 35.13L77.6502 31.26C77.2436 31.0643 76.9978 30.6401 77.0302 30.19C77.0677 29.7323 77.3808 29.3438 77.8202 29.21Z" fill="#E5E5F0"></path>
                                            <path class="emptyInboxRotation" d="M5.12012 40.75C6.36707 20.9791 21.5719 4.92744 41.2463 2.61179C60.9207 0.296147 79.4368 12.3789 85.2401 31.32" stroke="#E5E5F0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path class="emptyInboxRotation" d="M14.18 57.79L2.46001 61.79C2.03313 61.9358 1.56046 61.8088 1.2642 61.4686C0.967927 61.1284 0.906981 60.6428 1.11001 60.24L5.00001 52.38C5.12933 52.1127 5.35954 51.9076 5.64001 51.81C5.92044 51.7194 6.22508 51.7409 6.49001 51.87L14.35 55.74C14.7224 55.9522 14.9394 56.36 14.9073 56.7874C14.8753 57.2149 14.5999 57.5857 14.2 57.74L14.18 57.79Z" fill="#E5E5F0"></path>
                                            <path class="emptyInboxRotation" d="M86.9998 45.8C85.9593 65.5282 70.9982 81.709 51.4118 84.2894C31.8254 86.8697 13.1841 75.1156 7.06982 56.33" stroke="#E5E5F0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <p class="emptyInboxTitle">Your inbox is empty</p>
                                        <p>Waiting for incoming emails</p>
                                    </div>
                                </div>


                                <div class="hide inbox-dataList">
                                    <ul>
                                        <li class="hide ">
                                            <div class="col-box">
                                                <a href="javascript:void(0);" title="" class="viewLink">
                                                    <span class="inboxSenderName"><span class="bullets-ico is-active"></span></span>
                                                    <span class="inboxSenderEmail"></span>
                                                    <span class="inboxSubject small subject-title d-none visable-xs-sm"><small>Subject</small>&nbsp;</span>
                                                </a>
                                            </div>
                                            <div class="col-box hidden-xs-sm">
                        <span class="inboxSubject subject-title">
                            <a href="javascript:void(0);" title="" class="viewLink title-subject"></a>
                        </span>
                                            </div>
                                            <div class="col-box">
                                                <div class="attachment">
                                                    <a href="javascript:void(0)" class="viewLink link hide">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.18147 19C7.89265 18.9946 6.7333 18.2153 6.24166 17.0239C5.75003 15.8325 6.0224 14.4624 6.93233 13.5496L12.3571 8.12485C13.1152 7.4011 14.3083 7.4011 15.0663 8.12485C15.8138 8.87325 15.8138 10.0857 15.0663 10.834L12.8044 13.096C12.5509 13.3131 12.173 13.2985 11.937 13.0625C11.7009 12.8265 11.6863 12.4486 11.9034 12.195L14.1654 9.93311C14.4131 9.68389 14.4131 9.2814 14.1654 9.03218C13.9162 8.78444 13.5137 8.78444 13.2644 9.03218L7.83965 14.457C7.36195 14.9439 7.17901 15.648 7.35927 16.3059C7.53953 16.9638 8.05584 17.4763 8.71503 17.6518C9.37143 17.8217 10.0687 17.6321 10.5488 17.1534L15.9736 11.7286C17.1844 10.475 17.1671 8.4824 15.9347 7.25005C14.7024 6.01771 12.7098 6.00039 11.4562 7.21114L7.39238 11.2749C7.13887 11.492 6.76096 11.4774 6.52495 11.2414C6.28894 11.0054 6.27434 10.6275 6.49144 10.374L10.5552 6.3102C11.6852 5.18022 13.3322 4.73891 14.8758 5.15251C16.4194 5.56612 17.625 6.77179 18.0386 8.31537C18.4522 9.85896 18.0109 11.5059 16.881 12.6359L11.4562 18.0607C10.8538 18.665 10.0347 19.0032 9.18147 19Z" fill="#8C92A5"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="m-link-view">
                                                    <a href="javascript:void(0);" class="viewLink link">
                                                        <svg class="arrow-link-ico" width="10" height="24" viewBox="0 0 10 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M3.33301 16.25L7.49967 11.25L3.33301 6.25" stroke="#CDCDD8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                            </div>

                        </div>




                        <!-- Inbox SEO block -->
                        <div>
                            <div class="ads-box ad-block-728X90 ad-block-728X90-before-seo-text">
                                <!-- Ezoic - Before SEO text block banner - mid_content -->
                                <div id="ezoic-pub-ad-placeholder-141"></div>
                                <!-- End Ezoic - Before SEO text block banner - mid_content -->
                            </div>
                        </div>

                        <div class="mid-intro-text">
                            <h1>What is Disposable Temporary E-mail?</h1>
                            <p><b>Disposable email</b> - is a service that allows to receive email at a temporary address that self-destructed after a certain time elapses. It is also known by names like : tempmail, 10minutemail, throwaway email, fake-mail or trash-mail. Many forums, Wi-Fi owners, websites and blogs ask visitors to register before they can view content, post comments or download something. Temp-Mail - is most advanced throwaway email service that helps you avoid spam and stay safe.</p>
                        </div>

                        <!-- End Inbox SEO block -->

                    </div>




                </div>
                <!-- Bottom banner -->
                <div class="col col-lg-12 col-xl-12 align-content-center">

                    <div class="bottom-adver">
                        <div class="ads-box ad-block-970X350 d-none hidden-xs-sm-md-lg visable-xl">
                            <!-- Ezoic - bottom - bottom_of_page -->
                            <div id="ezoic-pub-ad-placeholder-106"></div>
                            <!-- End Ezoic - bottom - bottom_of_page -->
                        </div>

                        <!--tablet and mobile view addbox start -->
                        <div class="ads-box ad-block-728X90 d-none visable-xs-sm-md-lg">
                            <!-- Ezoic - Bottom tablet and mobile - bottom_of_page -->
                            <div id="ezoic-pub-ad-placeholder-142"></div>
                            <!-- End Ezoic - Bottom tablet and mobile - bottom_of_page -->
                        </div>
                        <!--tablet and mobile view addbox end -->

                    </div>

                </div>
                <!-- End bottom banner -->
            </div>
            <!-- Right banner block -->
            <div class="col d-none d-sm-none hidden-xs-sm-md-lg visable-xl">
                <div class="ads-box ad-block-300X600 ad-block-right-300X600">
                    <!-- Ezoic - New site right content banner - sidebar_middle -->
                    <div id="ezoic-pub-ad-placeholder-137">
                        <!-- resp-side-tm -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-0054344973744347"
                             data-ad-slot="8453511389"
                             data-ad-format="auto"
                             data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <!-- End Ezoic - New site right content banner - sidebar_middle -->
                </div>
            </div>
            <!-- End Right banner block -->
        </div>
    </div>
    <!-- Bottom news block -->
    {#<div class="section-populer-article">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
                    <div class="p-header">
                        <h3>Popular Articles</h3>
                    </div>
                    <ul class="row populer-article-list">
                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="inner-text-box">
                                <figure>
                                    <img class="lazy" data-src="/images/cache/blog/wp-content/uploads/2017/03/001_Temp-Mail_2_124x124.png">
                                </figure>
                                <a href="https://temp-mail.org/blog/en/temp-mail-disposable-email-plugin-for-google-chrome/" class="no-ajaxy">Temp Mail - Disposable email plugin for Google Chrome</a>
                                <p>Many users think the following:

                                    “Surfing the Internet and staying anonymous is impossible”
                                    “Online security is a myth” 
                                    “You cannot make away with spammers”

                                    These messages are fundamentally wrong and are easily disproved by people who use special software and services such as Temp Mundefined</p>
                            </div>
                        </li>


                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="inner-text-box">
                                <figure>
                                    <img class="lazy" data-src="/images/cache/blog/wp-content/uploads/2016/12/23123_124x124.jpg">
                                </figure>
                                <a href="https://temp-mail.org/blog/en/temporary-email-ultimate-solution-for-e-book-fans/" class="no-ajaxy">Temporary email: Ultimate solution for e-book fans</a>
                                <p>The development of present-day society has brought us a plenty of technologies aimed at streamlining the life of a common person. Dozens of new applications emerge every day, which are of great interest to both pros and normal users. In the 21st century, electronic books have become a promiundefined</p>
                            </div>
                        </li>


                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-12 noPadding">
                            <div class="ads-box">
                                <?php if (!isset($not_found) || $not_found==false) { ?>
                                <!-- Ezoic - After 2 blog articles previews - mid_content -->
                                <div id="ezoic-pub-ad-placeholder-138"></div>
                                <!-- End Ezoic - After 2 blog articles previews - mid_content -->
                                <?php } ?>
                            </div>
                        </li>
                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="inner-text-box">
                                <figure>
                                    <img class="lazy" data-src="/images/cache/blog/wp-content/uploads/2017/04/001_temp-mail.org__124x124.jpg">
                                </figure>
                                <a href="https://temp-mail.org/blog/en/how-to-protect-your-online-business/" class="no-ajaxy">How to protect your online business</a>
                                <p>Nowadays, it is rather difficult to conduct business without participating in the life of the Internet community. Any credible organization or entrepreneur has an Internet page for quick connection with customers and selling products in their own online stores. As a rule, payment is carriedundefined</p>
                            </div>
                        </li>


                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="inner-text-box">
                                <figure>
                                    <img class="lazy" data-src="/images/cache/blog/wp-content/uploads/2017/03/fishing56-2_124x124.jpg">
                                </figure>
                                <a href="https://temp-mail.org/blog/en/how-can-an-anonymous-email-protect-you-from-phishing/" class="no-ajaxy">How Can an Anonymous Email Protect you From Phishing</a>
                                <p>The temporary email service at Temp-Mail.org can be used to increase your online security and protect your savings account. How can it do that? Let us explain!


                                    Phishing is a very common method of online fraud that involves stealing a person’s private information. This is done by secretundefined</p>
                            </div>
                        </li>


                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-12 noPadding">
                            <div class="ads-box">
                                <?php if (!isset($not_found) || $not_found==false) { ?>
                                <!-- Ezoic - After 4 blog articles previews - mid_content -->
                                <div id="ezoic-pub-ad-placeholder-139"></div>
                                <!-- End Ezoic - After 4 blog articles previews - mid_content -->
                                <?php } ?>
                            </div>
                        </li>
                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="inner-text-box">
                                <figure>
                                    <img class="lazy" data-src="/images/cache/blog/wp-content/uploads/2016/12/x_409bff2f77c7546c61800b740e6c065e-2_124x124.jpg">
                                </figure>
                                <a href="https://temp-mail.org/blog/en/the-tech-behind-disposable-email-addresses/" class="no-ajaxy">The Tech behind Disposable Email Addresses</a>
                                <p>Everyone owns an email address each and every hour, for everything from connecting at work, with business prospects, reaching out to friends and colleagues using the email address as an online passport. Nearly 99% of all apps and services we sign-up today required an email address, likewiseundefined</p>
                            </div>
                        </li>


                        <li class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="inner-text-box">
                                <figure>
                                    <img class="lazy" data-src="/images/cache/blog/wp-content/uploads/2017/04/0012_temp-mail.org__124x124.jpg">
                                </figure>
                                <a href="https://temp-mail.org/blog/en/disposable-email-social-media-facebook/" class="no-ajaxy">Disposable email for a Social media (Facebook, etc...)</a>
                                <p>Every time, you want to create account on some forum or social media, like Facebook, you have to enter information about your e-mail box to get an activation link. Unfortunately, after registration, this social media sends you dozens of messages with useless information, which you are not iundefined</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- After news banner block -->
                <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
                    <div>
                        <div class="bottom-adver-end align-content-center">
                            <div class="ads-box">
                                <!-- Ezoic - Bottom of Page - bottom_of_page -->
                                <div id="ezoic-pub-ad-placeholder-134"></div>
                                <!-- End Ezoic - Bottom of Page - bottom_of_page -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End After news banner block -->
            </div>
        </div>
    </div>#}
    <!-- End Bottom news block -->
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
                <div class="footer-box">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="https://temp-mail.org/blog" title="Articles" class="no-ajaxy">Articles</a></li>
                            <li><a href="https://temp-mail.org/privacy-policy" title="Privacy policy">Privacy policy</a></li>
                            <li><a href="https://temp-mail.org/en/faq" title="FAQ">FAQ</a></li>
                            <li><a href="https://temp-mail.org/en/contact" title="Contacts">Contacts</a></li>
                            <li><a href="https://temp-mail.org/en/feedback" title="Reviews" class="no-ajaxy">Reviews</a></li>
                            <li><a href="https://temp-mail.org/en/api/" title="API">API</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="copyright-box">
                    <div class="footer-btn-warp align-content-center">
                        <div class="btn-appstore">
                            <div class="btn-set-group">
                                <a href="https://itunes.apple.com/app/temp-mail-temporary-email/id1214259095" target="_blank" class="tm-btn btn-dark"><img src="/images/icons/footer/app-store.svg" alt="Temporary email app for Iphone and Ipad"> App Store</a>
                                <a href="https://play.google.com/store/apps/details?id=com.tempmail" target="_blank" class="tm-btn btn-dark"><img src="/images/icons/footer/gplay.svg" alt="Temporary email app for Android"> Google Play</a>
                            </div>
                            <div class="btn-set-group bt-group-2">
                                <a href="https://chrome.google.com/webstore/detail/temp-mail-disposable-temp/inojafojbhdpnehkhhfjalgjjobnhomj" target="_blank" class="tm-btn btn-dark"><img src="/images/icons/footer/chrome.svg" alt="Temporary email Extension for Chrome"></a>
                                <a href="https://addons.mozilla.org/firefox/addon/temp-mail/" target="_blank" class="tm-btn btn-dark"><img src="/images/icons/footer/firefox.svg" alt="Temporary disposable email Add-on for Firefox"></a>
                                <a href="https://addons.opera.com/extensions/details/temp-mail-disposable-temporary-email/" target="_blank" class="tm-btn btn-dark"><img src="/images/icons/footer/opera.svg" alt="Temp Mail Extension for Opera"></a>
                                <a href="https://t.me/TempMail_org_bot" target="_blank" rel="nofollow" class="tm-btn btn-dark"><img src="/images/icons/footer/telegram.svg" alt="Temp Mail Extension for Telegram" width="30px"></a>
                            </div>
                        </div>
                    </div>
                    <small>© 2020 <a href="index.html">Temp-Mail.org</a> | <a href="https://10minemail.com" target="_blank">10 minutes mail</a></small>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
